# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/4-20mA/MDK-ARM/4-20mA
code/bootloader/STM32G0Bootloader/STM32G0Bootloader/MDK-ARM/STM32G0Bootloader